html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: 'Leto', sans-serif;
  background-image: url("../assets/images/2754788.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 600px) {
  body {
    background-repeat: no-repeat;
    background-position: center;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu-bar {
  border-radius: 25px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #e8edec;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .menu-bar {
    margin-top: 0;
  }
}

.menu-bar li {
  list-style: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .menu-bar li {
    font-size: 1rem;
  }
}

.menu-bar li a {
  text-decoration: none;
  color: #e8edec;
}

.menu-bar li a:hover {
  color: #000;
}

.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
}

.menu-bar li:hover {
  color: black;
}

.menu-bar li:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#e8edec), to(#d2d1d3));
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  -webkit-box-shadow: 0 3px 20px 0 black;
  box-shadow: 0 3px 20px 0 black;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

b-content {
  position: relative;
  z-index: -1;
}

.b-btn,
.b-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.b-btn,
.b-button {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.b-disabled,
.b-btn:disabled,
.b-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.b-disabled *,
:disabled * {
  pointer-events: none;
}

.b-bar-block .b-dropdown-hover .b-button,
.b-bar-block .b-dropdown-click .b-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.b-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.b-content button {
  position: absolute;
  top: 32%;
}

.b-display-right {
  right: 0;
}

.b-display-left {
  left: 0;
}

.mySlides {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .mySlides {
    height: 350px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Main section */
main .cards-section {
  padding: 150px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr));
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  row-gap: 150px;
  justify-items: center;
}

@media (max-width: 600px) {
  main .cards-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 100px 20px;
  }
}

main .cards-section .card {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
}

@media (max-width: 600px) {
  main .cards-section .card {
    width: 100%;
  }
}

main .cards-section .card .card-images {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main .cards-section .card .content {
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 330px;
  font-size: 1.1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#011), color-stop(60%, #19776a), color-stop(#61aaa6), to(#b7e0df));
  background: linear-gradient(#011 0%, #19776a 60%, #61aaa6, #b7e0df);
}

main .cards-section .card .content .name-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

main .cards-section .card .content .name-div h2 {
  width: 80%;
  color: #f0f3f2;
}

main .cards-section .card .content .name-div .like-wrapper {
  color: #f0f3f2;
}

main .cards-section .card .content .name-div .like-wrapper i:hover {
  cursor: pointer;
}

main .cards-section .card .content .likes {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .cards-section .card .content .description {
  color: #e1e6e4;
}

main .cards-section .card .content .comment-btn {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background: transparent;
  -webkit-box-shadow: 0 10px 15px #37948f;
  box-shadow: 0 10px 15px #37948f;
  color: #fff;
  font-weight: 900;
}

main .cards-section .card .content .comment-btn:hover {
  cursor: pointer;
  color: #012935;
  -webkit-box-shadow: 0 0 10px #afe9e5;
  box-shadow: 0 0 10px #afe9e5;
}

footer {
  font-size: 1.5rem;
  font-weight: 900;
  color: #d2d1d3;
  padding: 20px 100px;
  background: #262c2a;
}

footer a {
  text-decoration: none;
  color: #0bf1e6;
}

@media (max-width: 600px) {
  footer {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.popup {
  width: 60vw;
  height: 90vh;
  padding: 30px 50px;
  background-color: #2e3130;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  color: #d2d1d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 600px) {
  .popup {
    width: 95%;
    padding: 20px 20px;
  }
}

.popup #close {
  background: transparent;
  border: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 2rem;
  color: #d2d1d3;
}

.popup #close:hover {
  cursor: pointer;
}

.popup .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup .display .description {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 600px) {
  .popup .display .description {
    width: 100%;
  }
}

.popup .display .description img {
  width: 80%;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .popup .display .description img {
    width: 100%;
  }
}

.popup .display .description h3 {
  font-size: 2.8rem;
}

@media (max-width: 600px) {
  .popup .display .description h3 {
    font-size: 2rem;
  }
}

.popup .display .display-detail {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 600px) {
  .popup .display .display-detail {
    width: 100%;
  }
}

.popup .display .display-detail h3 {
  font-size: 1.7rem;
}

@media (max-width: 600px) {
  .popup .display .display-detail h3 {
    font-size: 1.5rem;
  }
}

.popup .display .display-detail ul > li {
  list-style: none;
  font-size: 1.4rem;
  padding-bottom: 15px;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .popup .display .display-detail ul > li {
    font-size: 1.1rem;
  }
}

.popup .comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup .comment-container .comment-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup .comment-container .comment-display h3 {
  font-size: 1.4rem;
}

.popup .comment-container .comment-display ul {
  list-style: none;
  font-style: italic;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .popup .comment-container .comment-display ul {
    font-size: 1rem;
  }
}

.popup .comment-container .comment {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 600px) {
  .popup .comment-container .comment {
    width: 100%;
  }
}

.popup .comment-container .comment h3 {
  font-size: 1.4rem;
  margin-top: 50px;
}

.popup .comment-container .comment form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.popup .comment-container .comment form h4 {
  font-size: 1.5rem;
}

.popup .comment-container .comment form input[type="text"],
.popup .comment-container .comment form textarea {
  width: 100%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.popup .comment-container .comment form input[type="text"]:focus,
.popup .comment-container .comment form textarea:focus {
  outline: none;
}

.popup .comment-container .comment form textarea {
  height: 150px;
}

.popup .comment-container .comment form .submit-btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-size: 1.3rem;
  font-weight: 900;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.popup .comment-container .comment form .submit-btn:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .popup .comment-container .comment form .submit-btn {
    font-size: 1.1rem;
    padding: 5px;
  }
}

.no-scroll {
  overflow: hidden;
}

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
