@import 'base';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&family=Cormorant+SC:wght@300&family=Luckiest+Guy&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: 'Leto', sans-serif;
  background-image: url("../assets/images/bg999.png");
  // background-color: #050405;
  background-size: cover;
  background-attachment: fixed;

  @include media-sm {
    background-repeat: no-repeat;
    background-position: center;
    .b-content,
    .desktop-nav,
    .arrow-title,
    .arrows {
      display: none;
    }


    .logo {
      width: 64px;
      height: 64px;
    }

    .mobile-nav {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      text-align: center;
      background-color: rgb(0 0 0 / 81%);
      padding: 10px 20px;
  }

  .fa.fa-bars {
    color: white;
    margin-top: 15px;
}

  .mobile-nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #6070ff;
    text-decoration-line: none;
  }

  .mobile-item {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(21 21 22 / 93%);
    text-align: left;
    display: none;
  }

  .mobile-item .close a {
    font-weight: lighter;
    font-size: 12px;
  }


  .mobile-item .close {
    padding-top: 50px;
    text-align: right;
    padding-right: 38px;
    font-weight: lighter;
  }

  .mobile-item a {
    color: #fff;
  }

  .mobile-nav a {
    font-size: 32px;
  }

  .mobile-nav-item {
    padding: 15px 28px;
  }

  .mobile-content{
    display: flex;
    background-color: rgb(255 255 255 / 73%);
    border-bottom-left-radius: 25%;
    height: 700px;
    padding: 30px;

  }

  .mobile-content p {
    color: black;
    font-size: 37px;
    font-family: "Cormorant SC", serif;
    font-weight: 900;
    margin: 0 10px;
    padding: 5px;
  }

  .mobile-content-title {
    font-size: 40px;
    font-weight: 700;
    // font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Rubik Wet Paint', cursive;
  }
}
}

.mobile-nav,
.mobile-content {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  }

  .menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    color: #e8edec;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin-top: 50px;

    @include media-sm {
      margin-top: 0;
    }

    li {
      list-style: none;
      font-family: sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 12px 16px;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;

      @include media-sm {
        font-size: 1rem;
      }

      a {
        text-decoration: none;
        color: #e8edec;

        &:hover {
          color: #000;
        }
      }

      &::before {
        content: " ";
        position: absolute;
        top: 0;
        left:0;
        height:100%;
        width: 100%;
        z-index:-1;
        transition: .2s;
        border-radius: 25px;
      }

        &:hover {
          &::before {
            background: linear-gradient(to bottom, #e8edec, #d2d1d3);
              box-shadow: 0px 3px 20px 0px black;
              transform: scale(1.2);
          }
          color: black;
      }

    }
  }

  b-content {
    position: relative;
    z-index: -1;
  }

.b-btn,
.b-button {
  border:none;
  display:inline-block;
  outline:0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow:hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.b-btn,
.b-button {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
}

.b-disabled,
.b-btn:disabled,
.b-button:disabled {
  cursor:not-allowed;
  opacity:0.3
}

.b-disabled *,
:disabled *{
  pointer-events: none
}

.b-bar-block .b-dropdown-hover .b-button,
.b-bar-block .b-dropdown-click .b-button {
  width:100%;
  text-align: left;
  padding: 8px 16px
}

.b-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.b-content button {
  position: absolute;
  top: 32%;
}

.b-display-right {
  right:0
}

.b-display-left {
  left:0
}

.mySlides {
  width: 100vw;
  height: 100vh;

  @include media-sm {
    height: 350px;
  }
}

.navbar {
  @include center;

    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main section */

main {

  .cards-section {
    padding: 150px 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    row-gap: 150px;
    justify-items: center;

    @include media-sm {
      grid-template-columns: 1fr;
      padding: 100px 20px;
    }

    .card {
      width: 65%;

      @include center;

      align-items: unset;

      @include media-sm {
        width: 100%;
      }

    .card-images {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .content {
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 330px;
      font-size: 1.1rem;
      background: linear-gradient(rgb(0, 17, 17) 0%, rgb(25, 119, 106) 60%, rgb(97, 170, 166) , rgb(183, 224, 223));
      // background-image: url("../assets/images/unsplash.jpg");
      // background-size: cover;
      // background-attachment: fixed;

      .name-div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        h2 {
          width: 80%;
          color: #f0f3f2;
        }

        .like-wrapper {
          color: #f0f3f2;

          i:hover {
            cursor: pointer;
          }
        }
      }

      .likes {
        gap: 10px;

        @include center;
      }

      .description {
        color: rgb(225, 230, 228);
      }

      .comment-btn {
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        background: transparent;
        box-shadow: 0 10px 15px rgb(55, 148, 143);
        color: #ffffff;
        font-weight: 900;

        &:hover {
          cursor: pointer;
          color: rgb(1, 41, 53);
          box-shadow: 0 0 10px rgb(175, 233, 229);
        }
      }
    }
   }
  }
}

footer {
  // padding: 20px 100px;
  background: rgba(0, 0, 0, 0.4);
  a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700px;
  }

  @include media-sm {
    width: 100%;
    padding: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }
}


.popup {
  width: 60vw;
  height: 90vh;
  padding: 30px 50px;
  background-color: #2e3130;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  overflow-y: scroll;
  color: #d2d1d3;

  @include center;

  @include media-sm {
    width: 95%;
    padding: 20px 20px;
  }

  #close {
    background: transparent;
    border: none;
    align-self: flex-end;
    font-size: 2rem;
    color: #d2d1d3;

    &:hover {
      cursor: pointer;
    }
  }

  .display {
    @include center;

  .description {
    width: 80%;

    @include center;

    @include media-sm {
      width: 100%;
    }

  img {
    width: 80%;
    border-radius: 20px;

    @include media-sm {
      width: 100%;
    }
  }

  h3 {
    font-size: 2.8rem;

    @include media-sm {
      font-size: 2rem;
    }
  }

}

 .display-detail {
   width: 80%;

   @include center;

   @include media-sm {
    width: 100%;
  }

  h3 {
    font-size: 1.7rem;

    @include media-sm {
      font-size: 1.5rem;
    }
  }

  ul > li {
    list-style: none;
    font-size: 1.4rem;
    padding-bottom: 15px;
    line-height: 1.2;

    @include media-sm {
      font-size: 1.1rem;
    }
  }
}
  }

  .comment-container {
   @include center;

    .comment-display {
      @include center;

      h3 {
        font-size: 1.4rem;
      }
      ul {
        list-style: none;
        font-style: italic;
        font-size: 1.2rem;

        @include media-sm {
          font-size: 1rem;
        }
      }

    }

    .comment {
      width: 70%;

      @include center;

      @include media-sm {
        width: 100%;
      }

      h3 {
        font-size: 1.4rem;
        margin-top: 50px;
      }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;


    h4 {
      font-size: 1.5rem;
    }

    input[type="text"], textarea {
      width: 100%;
      font-size: 1.2rem;
      padding: 10px;
      border-radius: 10px;
      border: none;

      &:focus {
        outline: none;
      }
    }

    textarea {
      height: 150px;
    }

    .submit-btn {
      align-self: flex-start;
      font-size: 1.3rem;
      font-weight: 900;
      border: none;
      padding: 10px;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
      }

      @include media-sm {
        font-size: 1.1rem;
        padding: 5px;
      }
    }
    }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.blur {
  filter: blur(5px);
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb { /* stylelint-disable-line */
  border-radius: 10px; /* stylelint-disable-line */
  background-color: black; /* stylelint-disable-line */
  background-image: -webkit-linear-gradient 90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent; /* stylelint-disable-line */
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.57);
}

:-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #f5f5f5;
}

.fas {
  color: red;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: white; //2994D1
	fill: transparent;
	stroke-width: 4px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.arrow-title {
  position: absolute;
  margin-top: 500px;
  font-size: 2em;
  color: white;
  letter-spacing: 8px;
}

// footer

.container {
  display:flex;
  flex-flow :row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.footer-card {
  flex: 0 1 48%;
  display: flex;
}


.footer-card-inner {
  display:flex;
  flex-direction:column;
}

.footer-card {
  &-footer {
    margin-top: auto;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.footer-card {
  flex: 1;
  background: #fff;
  box-shadow:0 0 10px rgba(0,0,0,.5);
  padding: 20px;
  margin: 2%;
}

.footer-card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size:24px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-card-body {
  /* font-size: 20px; */
  /* max-height: 150px; */
  flex-grow: 1;
}

.footer-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color:white;
  border-radius:4px;
  padding: 10px;
  margin: 10px 0 0;
}

.github-logo {
  width: 32px;
  height: 32px;
}